// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.heroCarousel {
    margin-top: 1.6em;

    @include breakpoint("medium") {
        margin-top: -9.2em;
    }
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    &.slick-initialized { // 2
        max-height: remCalc(1000);
        opacity: 1;
    }
    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    .slick-dots {
        width: 0;
        height: 100%;

        top: 40%;
        left: 15px;

        @include breakpoint("small") {
            left: 25px;
        }

        @include breakpoint("medium") {
            top: 45%;
            left: -5px;
        }

        @include breakpoint("large") {
            left: 1px;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        li {
            @include carouselOpaqueBackgrounds($slick-dot-bgColor);
        }
    }
}

.heroCarousel-slide {
    position: relative;
    a {
        text-decoration: none;
    }

    .heroCarousel-image {
        object-fit: cover; // 1
        width: 100%;
        min-height: remCalc(475px);

        @include breakpoint("medium") {
            min-height: remCalc(815px);
        }
    }

    .heroCarousel-image-wrapper {
        min-height: remCalc(475px);

        @include breakpoint("medium") {
            max-height: remCalc(815px);
        }
    }

    &.compat-object-fit { // 1
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;

        &.stretch {
            @include breakpoint("large") { // 4
                background-size: 100% 100%;
            }
        }

        .heroCarousel-image {
            opacity: 0;
        }
    }
}

.heroCarousel-content {
    position: absolute;
    background-color: transparent;
    left: 0;
    bottom: 1.25em;
    padding: 0 spacing("single");
    font-size: 0.9em;

    @include breakpoint("medium") {
        bottom: 1.85em;
        padding: 0 spacing("double");
        font-size: 1em;
    }

    .heroCarousel-action.button.button--primary.button--large {
        transform: translateY(-6%);
        margin-top: 0;
        margin-left: 0.45rem;
        font-size: 0.9em;
        font-family: $fontFamily-sans;
        padding: 0.38rem 0.33rem 0.33rem 0.35rem;
        text-transform: capitalize;
        border-width: 0.07em;
        border-radius: 0.3em;
        &.button--primary {
            background-color: transparent;
            border-color: $carousel-title-color;
            color: $carousel-title-color;
            &:hover {
                background-color: $carousel-title-color;
                color: white;
            }
        }
    }
}

.heroCarousel-title {
    color: $carousel-title-color;
    font-size: 1.34em;
    margin-top: 0;
    margin-bottom: 0;
    .heroCarousel-description {
        font-size: 1.1em;
        font-family: "MS-PMincho";
    }
}

.heroCarousel-action {
    margin: 0;
}
