{{#partial "page"}}

<main class="gift-certificate-wrapper">
<h1 style="text-align: center" class="page-heading">{{lang 'gift_certificate.heading' }}</h1>
{{> components/gift-certificate/navigation gift_page='redeem'}}

<div class="account account--fixed gift-certificate-text">
    <p><strong>{{lang 'gift_certificate.redeem.intro' store_name=settings.store_name }}</strong></p>
    <ol>
        <li>{{lang 'gift_certificate.redeem.item1' }}</li>
        <li>{{lang 'gift_certificate.redeem.item2' }}</li>
        <li>At checkout, type your gift certificate code in to the 'Promo/Gift Certificate' box and click 'Apply'.</li>
    </ol>
</div>
</main>
{{/partial}}
{{> layout/base}}
