<div role="complementary" id="_cart" class="hidden">
    <div class="page-content" data-cart>
        <div class="cart-wrapper cart-panel">

        {{#if cart.items.length}}
        {{> components/cart/page-title}}

        <div class="loadingOverlay"></div>

        <div data-cart-content>
            {{> components/cart/content}}
        </div>

        <div data-cart-totals>
            {{> components/cart/totals}}
        </div>

        {{else}}
        <p class="empty-cart">{{lang 'cart.checkout.empty_cart'}}</p>
        {{/if}}

        {{{snippet 'cart'}}}

        <div class="button--close">
            <a id="_cart-btn-close" href="#" aria-label="Close Cart">
                <svg data-src="{{cdn 'icons/close.svg'}}" alt="Close Cart"/>
            </a>
        </div>
        </div>
    </div>
</div>
