<footer class="footer" role="contentinfo">
    <div class="footer-logo-medium">
        <img src="{{cdn 'assets/img/logo.png'}}" alt="Salter House Graphic Logo"/>
    </div>
    <div class="footer-flex">
        <div class="footer-links">
            <article data-section-type="footer-webPages">
                <ul class="footer-info-list">
                    {{#if settings.gift_certificates_enabled}}
                    <li>
                        <a href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                    </li>
                    {{/if}}
                    <li>
                        <a href="../shipping-returns">Shipping & Returns</a>
                    </li>
                    <li>
                        <a id="_info-btn-footer" href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/salter.house/">Instagram</a>
                    </li>
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <!-- <article data-section-type="footer-brands">
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article> -->
            {{/and}}
        </div>

        <div class="footer-logo">
            <img src="{{cdn 'assets/img/logo.png'}}" alt="Salter House Graphic Logo"/>
        </div>

        <div class="footer-right">
            <div class="footer-right-content">
                {{#if settings.address}}
                <article data-section-type="storeInfo">
                    <address>{{nl2br settings.address}}</address>
                </article>
                {{/if}}

                <article>
                    {{> components/common/subscription-form}}
                </article>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
    </div>
</footer>
