{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <div class="footer-links">
                <article data-section-type="footer-webPages">
                    <ul class="footer-info-list">
                        {{#each pages}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                        {{#if settings.gift_certificates_enabled}}
                            <li>
                                <a href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                            </li>
                        {{/if}}
                    </ul>
                </article>

                {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                <article data-section-type="footer-brands">
                    <ul class="footer-info-list">
                        {{#each shop_by_brand}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </article>
                {{/and}}
            </div>

            <div class="footer-logo">
                <img src="{{cdn 'assets/img/logo.svg'}}"/>
            </div>

            <div class="footer-right">
                <div class="footer-right-content">
                    {{#if settings.address}}
                    <article data-section-type="storeInfo">
                        <address>{{nl2br settings.address}}</address>
                        <!--{{#if settings.phone_number}}-->
                        <!--<strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>-->
                        <!--{{/if}}-->
                    </article>
                    {{/if}}

                    <article data-section-type="newsletterSubscription">
                        {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                        {{/if}}
                        {{> components/common/payment-icons}}
                    </article>
                </div>
            </div>

        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
    </div>
    <div class="footer-logo-medium">
        <img src="{{cdn 'assets/img/logo.svg'}}"/>
    </div>
    <div class="footer-copyright">
        <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
    </div>
</footer>
