<div id="_info" class="page hidden" role="complementary">
    <div class="page">
        <div class="info-page">
            <div class="page-content page-content--centered">
                <!-- <p style="display: none">{{page.content}}</p> -->
                <div id="_injected-page-content-txt"></div>
                <svg class="checker" data-src="{{cdn 'img/checker.svg'}}"/>
                <div class="info-img-wrapper">
                    <div aria-hidden="true" id="_injected-page-content-img-1"></div>
                    <div aria-hidden="true" id="_injected-page-content-img-2"></div>
                    <div class="info-footer">
                        <div class="info-footer-item">
                          {{nl2br settings.address}}
                        </div>
                        <div class="info-footer-item">
                            STORE: {{settings.phone_number}}<br>
                            EMAIL: info@salter.house<br>
                            INSTAGRAM: salter.house
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button--close">
        <a id="_info-btn-close" href="#" aria-label="Close Info Drawer">
            <svg data-src="{{cdn 'icons/close.svg'}}" alt="Close Info Drawer"/>
        </a>
    </div>
</div>
