<nav class="navPages">
    <div id="quickSearch-mobile">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list-left">
        <li class="navPages-item">
            <a class="navPages-action" id="shop-all" href="../categories">SHOP ALL</a>
        </li>
    </ul>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item mobileMenu-info">
            <a id="_info-btn-mobile" class="navPages-action" href="#" style="font-weight: bold;">
                INFO
            </a>
        </li>
        <li class="navPages-item">
            <div class="category-dot-container">
                <div class="category-dot-selected-orange" aria-hidden="true"></div>
                <div class="category-dot-unselected-orange u-hiddenVisually" aria-hidden="true"></div>
                <a id="newArrivals-link" class="navPages-action" href="/new">→NEW</a>
            </div>
        </li>
        {{#each categories}}
        {{#unless name '==' 'New'}}
        <li class="navPages-item">
            {{> components/common/navigation-list}}
        </li>
        {{/unless}}
        {{/each}}
    </ul>
    <ul class="navPages-list-right">
        <li class="navPages-item">
            <div class="category-dot-container">
                <div class="u-hiddenVisually category-dot-selected-green" aria-hidden="true"></div>
                <div class="u-hiddenVisually category-dot-selected" aria-hidden="true"></div>
                <div class="category-dot-unselected" aria-hidden="true"></div>
                <a class="navPages-action" style="padding-right:0" href="/clothing/childrens-clothing/">Childrens' Clothing</a>
            </div>
        </li>
        <li class="navPages-item">
            <div class="category-dot-container">
                <div class="u-hiddenVisually category-dot-selected-green" aria-hidden="true"></div>
                <div class="u-hiddenVisually category-dot-selected" aria-hidden="true"></div>
                <div class="category-dot-unselected" aria-hidden="true"></div>
                <a class="navPages-action" style="padding-right:0" href="https://pictureroom.shop/">Art</a>
            </div>
        </li>
    </ul>
</nav>
