<div class="navUser">
    <div>
        <ul style="display: inline-flex">
            <li class="navUser-item">
                <a id="_info-btn" class="navUser-action" href="#">INFO</a>
            </li>
            <li class="navUser-item">
                <div id="quickSearch-container">
                    {{> components/common/quick-search}}
                </div>
            </li>
        </ul>
        <div style="text-align: right">
            <a id="_cart-btn"
               class="navUser-action cart-link"
               data-options="align:right"
               href="#">
                <img width="13px" src="{{cdn 'assets/img/shopping-bag.png'}}" alt="View Cart">
                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity" aria-hidden="true">{{cart.quantity}}</span>
            </a>
        </div>
    </div>
</div>
