{{#partial "page"}}
<div class="page">

    <div class="page-content" data-cart>
        <div class="cart-wrapper cart-page">

        {{#if cart.items.length}}
            {{> components/cart/page-title}}
            <div class="loadingOverlay"></div>

            <div data-cart-content>
                {{> components/cart/content}}
            </div>

            <div data-cart-totals>
                {{> components/cart/totals}}
            </div>

            {{#if cart.show_primary_checkout_button}}
                <div class="cart-actions">
                    <a class="button cart-total-button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                </div>
            {{/if}}

        {{else}}
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
            <center>
                <a style="margin-top: 2em" href="#" class="button button--primary" role="button">
                    {{lang 'cart.continue_shopping'}}
                </a>
            </center>
        {{/if}}

        {{{snippet 'cart'}}}
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
