<div class="form-field" data-product-attribute="set-radio">
    
    <fieldset class="form-fieldset">
        <legend class="form-label form-label--alternate form-label--inlineSmall" style="font-size:14px">
            {{ this.display_name }}:
        </legend>
        {{#each this.values}}
            <input
                class="form-radio"
                type="radio"
                id="attribute_radio_{{id}}"
                name="attribute[{{../id}}]"
                value="{{id}}"
                {{#if selected}}
                    checked
                    data-default
                {{/if}}
                {{#if ../required}}required{{/if}}>
            <label data-product-attribute-value="{{id}}" class="form-label" for="attribute_radio_{{id}}">{{this.label}}</label>
        {{/each}}
    </fieldset>
</div>
