// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    padding-top: 20px;

    @include breakpoint("small") {
        //padding-top: 70px;
    }

    @include breakpoint("medium") {
        padding-top: 123px;
    }
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

.page {
    margin-top: 4em;

    @include breakpoint("small") {
        margin-top: 5em;
    }

    @include breakpoint("medium") {
        margin-top: 0;
    }
}

.static-page {
    font-family: "MS-PMincho";
    font-size: 1.2em;
    padding: 0 1em;

    @include breakpoint("small") {
        font-size: 1.4em
    }

    @include breakpoint("medium") {
        padding-top: 0;
    }

    .page-content--centered {
        width: 100%;

        @include breakpoint("small") {
            max-width: 850px;
        }
    }

    h1 {
        text-align: center;
        font-size: 1em;

        @include breakpoint("small") {
            font-size: 1.2em;
        }

        @include breakpoint("medium") {
            font-size: 1.4em;
        }
    }
}

#_info {
    @include breakpoint("medium") {
        margin-bottom: 4.5em;
    }
}

.info-page {
    font-family: "MS-PMincho";
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    padding: 0.6em 1em 0.12em 1em;

    @include breakpoint("medium") {
        margin-top: 5.5em;
        padding-bottom: 1.1em;
    }

    .page-content--centered {
        width: 100%;

        @include breakpoint(704px) {
            padding-top: 0.5em;
            @include grid-column(
                $columns: 11,
                $center: true
            );
        }

        @include breakpoint(769px) {
            font-size: 1.1em;
            line-height: 1.15em;
        }

        @include breakpoint(963px) {
            font-size: 1.4em;
            padding-top: 0.15em;
        }

        @include breakpoint(1091px) {
            font-size: 1.45em;
            line-height: 1.15em;

            @include grid-column(
                $columns: 10,
                $center: true
            );
        }

        @include breakpoint(1225px) {
            padding-top: 0.45em;
        }

        @include breakpoint(1300px) {
            padding-top: 1.2em;
            font-size: 1.6em;
            max-width: 1030px;

            @include grid-column(
                $columns: 10,
                $center: true
            );
        }
    }

    #_injected-page-content-txt p {
        @include breakpoint("medium") {
            margin-bottom: 0.8em;
        }
    }

    .checker {
        width: 30px;
    }

    .info-img-wrapper {
        width: 100%;
        margin: 0 auto;
        margin-top: 1.1em;

        div {
            margin-top: 0.6em;
        }

        @include breakpoint("small") {
            margin-top: 0.55em;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 49.5%;
            }
        }

        @include breakpoint("medium") {
            width: 90%;
            margin-top: 0.3em;
        }

        .info-footer {
            letter-spacing: 0.05em;
            margin-top: 2.1em;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-family: "Plaids";
            font-size: 0.8em;
            line-height: 1.4em;
            color: #007A51;
            text-align: center;
            text-transform: uppercase;

            div {
                margin: 0 auto;
                margin-bottom: 1.5em;
                width: 100%;
            }

            .info-newsletter {
                margin-top: 1em;
            }

            @include breakpoint("medium") {
                font-size: 0.6em;

                div {
                    width: auto;
                    margin: 0 5em 0 0;
                    text-align: left;
                }

                .info-newsletter {
                    flex: 1;
                    margin-top: 0;
                    margin-right: 0;
                    text-align: right;
                }
            }

            @include breakpoint(963px) {
                font-size: 0.51em;
            }
        }
    }
}