// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    padding-top: 20px;

    @include breakpoint("small") {
        //padding-top: 70px;
    }

    @include breakpoint("medium") {
        padding-top: 123px;
    }
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

.static-page {
    font-family: "MS-PMincho";
    font-size: 1.2em;
    padding: 1em;

    @include breakpoint("small") {
        font-size: 1.4em;
    }

    h1 {
        text-align: center;
        font-size: 1em;

        @include breakpoint("small") {
            font-size: 1.2em;
        }

        @include breakpoint("medium") {
            font-size: 1.4em;
        }
    }
}
