<div class="modal-header">
    <h2 class="modal-header-title" data-cart-quantity="{{cart.quantity}}">
        {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
    </h2>
</div>

<div class="modal-body">
    <div class="previewCart">
        <section class="previewCartCheckout">
            {{#if cart.show_primary_checkout_button}}
                <a href="{{urls.checkout.single_address}}" class="button button--primary">
                    {{lang 'cart.added_to_cart.proceed_to_checkout'}}
                </a>
            {{/if}}

            <a href="#" class="button button--primary" role="button" data-reveal-close>
                {{lang 'cart.added_to_cart.continue_shopping'}}
            </a>
        </section>
    </div>
</div>
