<div class="cart-totals">
    {{#if cart.gift_wrapping_cost.value }}
        <div class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.gift_wrapping'}}:</strong>
            </div>
            <div class="cart-total-value">
                <span>{{cart.gift_wrapping_cost.formatted}}</span>
            </div>
        </div>
    {{/if}}
    {{#each cart.taxes}}
        <div class="cart-total">
            <div class="cart-total-label">
                <strong>{{name}}:</strong>
            </div>
            <div class="cart-total-value">
                <span>{{cost.formatted}}</span>
            </div>
        </div>
    {{/each}}
    {{#if cart.shipping_handling.show_estimator}}
    <div class="cart-total">
        <div class="cart-total-label">
            <strong>{{lang 'cart.checkout.shipping'}}:</strong>
        </div>
        {{> components/cart/shipping-estimator cart.shipping_handling}}
    </div>
    {{/if}}
    <div class="cart-total">
        <div class="cart-total-label">
            <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
        </div>
        <div class="cart-total-value cart-total-grandTotal">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <span>{{cart.grand_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </div>
</div>
