<div class="cart-totals">
    {{#if cart.gift_wrapping_cost.value }}
        <div class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.checkout.gift_wrapping'}}
            </div>
            <div class="cart-total-value">
                <span>{{cart.gift_wrapping_cost.formatted}}</span>
            </div>
        </div>
    {{/if}}
    <div class="cart-total">
        <div class="cart-total-label">
            {{lang 'cart.checkout.grand_total'}}
        </div>
        <div class="cart-total-value cart-total-grandTotal">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <span>{{cart.grand_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </div>
    <div class="cart-total cart-total-checkout">
        <div class="cart-total-value">
            <a class="button cart-total-button" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
        </div>
    </div>
</div>
