@import "../../../globals.scss";

// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing:                     (spacing("half") + spacing("base"));

$cart-thumbnail-maxWidth:               remCalc(150px);
$cart-thumbnail-height:                 remCalc(150px);

$cart-item-label-offset:                $cart-thumbnail-maxWidth + $cart-item-spacing;


// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------

.cart-wrapper {
    padding: 0 1.2em;

    @include breakpoint("medium") {
        padding: 0;
    }

    h1 {
        margin-bottom: 0.85em;
        margin-left: 0;

        @include breakpoint("medium") {
            margin-bottom: 1.1em;
        }
    }

    h3 {
        text-align: center;
    }
}

.cart-panel {
    margin-top: 5.5em;

    @include breakpoint("small") {
        margin-top: 7em;
    }

    @include breakpoint("medium") {
        margin-top: 0;
        padding: 9em 2.25em 6em 2.25em;
    }
}

.cart-page {
    padding-bottom: 2.5em;

    @include breakpoint("small") {
      padding-bottom: 0;
    }

    @include breakpoint("medium") {
      padding: 0 2.25em 6em 2.25em;
    }
}

.cart {
    display: block; // 1
    width: 100%;
    margin-top: 1.3em;

    @include breakpoint("medium") {
        display: table; // 1
        margin-top: 2.2em;
    }
}

.cart-header {
    display: none; // 2

    @include breakpoint("medium") {
        display: table-header-group; // 2
        text-align: left;
    }
}

.cart-header-item {
    padding-bottom: spacing("base");

    &:last-child {
        text-align: right;
    }
}

.cart-list {
    display: block; // 1
    border-bottom: 0.15rem solid $green;

    @include breakpoint("medium") {
        display: table-row-group; // 1
    }

    input[disabled] {
        cursor: default;
        color: #007A51;
    }
}

.cart-item {
    clear: both;
    display: block; // 1
    height: auto;
    border-top: 0.15rem solid $green;
    padding-bottom: 1.1em;
    padding-top: 1.25em;

    @include breakpoint(432px) {
        @include clearfix;
        padding-bottom: 1.5em;
    }

    @include breakpoint("medium") {
        display: table-row; // 1
        padding-left: 0;
        padding-bottom: 0;
        height: auto;
        border-top: 0;

        &:before,
        &:after {
            display: none;
        }
    }
}

.cart-item-title, .cart-item-info {
    @include breakpoint("medium") {
        border-top: 0.15rem solid $green;
    }
}

.cart-item-block {
    display: block; // 1

    @include breakpoint("medium") {
        display: table-cell; // 1
        vertical-align: top;
    }

    .definitionList {
        line-height: 1em;
        margin-bottom: 0.25em;
        margin-top: 0.2em;
    }
}

.cart-item-figure {
    text-align: center;
    float: left;
    margin-bottom: $cart-item-spacing;
    width: grid-calc(3, $total-columns);
    position: relative;

    @include breakpoint(432px) {
        margin-bottom: 0;
    }

    @include breakpoint("medium") {
        margin-right: 0;
        float: none;
        width: grid-calc(1, $total-columns);
    }

    @include lazy-loaded-padding('productthumb_size');
}

.cart-item-fixed-image {
    background-color: white;
}

.cart-item-image {
    @include lazy-loaded-img;
    width: 100%;

    @include breakpoint("medium") {
        margin-left: 0;
        margin-top: -0.05em;
    }
}

.cart-item-title {
    display: block;
    height: auto;
    overflow: hidden;
    line-height: 1.4rem;

    @include breakpoint("medium") {
        border-top: 0.15rem solid $green;
        line-height: 1.7em;
        display: table-cell;
        padding: $cart-item-spacing $cart-item-spacing $cart-item-spacing 0.1em;
    }
}

.cart-item-spacer {
    width: 1em;

    @include breakpoint("medium") {
        width: 1.75em;
    }
}

.cart-item-total {
    font-weight: bold;

    @include breakpoint(432px) {
        margin-left: 0;
        margin-top: -1em !important;
    }

    @include breakpoint("medium") {
        margin-top: 0 !important;
    }
}

.cart-item-total, .cart-item-remove {
    display: inline-block;

    @include breakpoint(432px) {
        display: block;
    }

    @include breakpoint("medium") {
        display: table-cell;
    }
}

.cart-item-option {
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 1.1rem !important;

    .button {
        + .button {
            margin-left: 0;
        }
    }

    @include breakpoint("medium") {
        margin-top: 0;
    }

    @include breakpoint(1200px) {
        margin-top: 0;
        font-size: 1.3rem !important;
    }
}

.cart-item-option-title {
    font-weight: normal;
    font-size: 0.9em;
}

.cart-item-title, .cart-item-option, .cart-item-price, .cart-item-quantity, .cart-item-total {
    padding-left: 13px;

    @include breakpoint("medium") {
        padding-left: 0;
    }
}

.cart-item-info {
    font-family: "MS-PMincho";
    font-size: 1.2rem;
    clear: none;
    overflow: hidden;

    + .cart-item-info {
        margin-top: 0;
    }

    @include breakpoint("medium") {
        font-size: 1.25rem;
        float: none;
        width: grid-calc(2, $total-columns);
        padding: spacing("single") 0 $cart-item-spacing $cart-item-spacing;

        &:last-child {
            text-align: right;
        }
    }

    @include breakpoint(1200px) {
        font-size: fontSize("small");
    }

    + .cart-item-info {
        @include breakpoint(432px) {
            margin-top: spacing("half");
        }
    }
}

.cart-item-price, .cart-item-quantity, .cart-item-total {
    margin-left: grid-calc(3, $total-columns);
    clear: none;
}


// Cart content
// -----------------------------------------------------------------------------


.cart-item-price {
    margin-bottom: 0.28em;
    margin-top: 0.3em !important;

    @include breakpoint("medium") {
        margin-top: 0 !important;
        margin-bottom: 0;
        text-align: right;
        width: grid-calc(1, $total-columns);
    }
}

.cart-header-quantity,
.cart-item-quantity {

    @include breakpoint("medium") {
        text-align: center;
    }
}

.cart-item-quantity {
    font-size: fontSize("small");

    .form-increment {
        display: inline-block;
        vertical-align: top;

        @include breakpoint("medium") {
            margin-left: 0;
        }
    }

}

.cart-item-label {
    color: color("greys", "light");
    float: left;
    margin-bottom: spacing("quarter");
    text-align: right;
    width: grid-calc(4, $total-columns);

    @include breakpoint(432px) {
        display: block;
        padding-left: $cart-item-spacing;
        text-align: left;
        width: 100%;
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.cart-item-brand {
    color: color("greys", "light");
    margin-bottom: spacing("eighth");
}

.cart-item-name {
    font-size: 1.35rem;
    text-transform: uppercase;
    margin: 0;

    @include breakpoint(1200px) {
        font-size: 21px;
    }

    > a {
        text-decoration: none;
        color: black;
    }

    + .definitionList {
        margin-top: spacing("quarter");
    }
}

.cart-item-options--giftWrapping {
    margin-top: 0;
    margin-bottom: 0;

    .cart-item-option-description {
        color: $body-font-color;
        margin-bottom: 0;
        margin-top: 0.3em;
        .button {
            margin-bottom: 0;
        }
    }

    @include breakpoint("medium") {
        margin-top: 0;
    }
}

.cart-item-remove {
    float: right;
    margin-top: 0.4em !important;

    @include breakpoint(432px) {
        width: grid-calc(1, $total-columns);
    }

    @include breakpoint("medium") {
        float: none;
    }
}

.cart-remove {
    cursor: pointer;
    outline: 0;
    float: right;
    transition: background-color 0.15s ease;
    height: remCalc(25px);
    width: remCalc(25px);

    @include breakpoint(432px) {
        margin-left: spacing("base");
    }

    @include breakpoint("medium") {
        margin-top: remCalc(1px);
        height: remCalc(33px);
        width: remCalc(33px);
    }

    &.cart-remove--spacer {
        visibility: hidden;
    }
}

.cart-item-total {
    margin-top: 0.7em !important;

    @include breakpoint(432px) {
        margin-top: 1.15em !important;
    }

    @include breakpoint("medium") {
        margin-top: 0 !important;
    }
}


// Cart totals
// -----------------------------------------------------------------------------

.cart-totals {
    @include u-listBullets("none");
    font-size: 1.28em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: "MS-PMincho";
    color: black;
    margin-bottom: $cart-item-spacing;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    width: 100%;

    @include breakpoint("medium") {
        font-size: 1.4em;
    }
}

.estimator-form--default {
    ul {
        font-family: "Plaids";
        text-transform: none;
        margin-left: 0;
        font-size: 0.9em;
    }
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include breakpoint(432px) {
        width: 195px;
    }

    @include breakpoint("medium") {
        width: 250px;
    }

    .form-input {
        display: inline-block;
        height: remCalc(32px);
        padding: spacing("third");
        vertical-align: top;
    }

    .form-select {
        background-position: right remCalc(5px) top remCalc(7px);
        background-size: remCalc(20px) remCalc(20px);
        height: remCalc(32px);
        margin-bottom: spacing("half");
        padding: spacing("third") spacing("half");
    }

    .form-inlineMessage {
        text-align: left;
        font-family: "Plaids";
        line-height: 1.1em;
        text-transform: none;
    }
}

.cart-total-label {
    @include breakpoint("medium") {
        display: block;
        padding-left: 0;
        text-align: left;
    }
}

.cart-total-value {
    text-align: left;
    margin-left: 1em;

    @include breakpoint(432px) {
        text-align: right;
    }
}

.cart-total-button {
    border-radius: 7px;
    padding: 0.37em 0.45em 0.4em 0.5em;
    font-size: 1.1em;
    margin-bottom: 0.12em;
}

.cart-total-checkout {
    margin-top: 1em;

    .cart-total-value {
        width: 100%;
        margin-left: 0;
    }

    .button {
        width: 100%;
        font-size: 0.85em;
        background-color: #007A51;
        color: white;
    }

    @include breakpoint(432px) {
        width: 140px;
        margin-top: 0;

        .button {
            width: initial;
        }
    }
}

.cart-total-label,
.cart-total-value {
    float: left;
    padding: spacing("eighth") 0;

    @include breakpoint(432px) {
        padding: spacing("base") 0;
    }
}

.shipping-estimator {
    clear: both;
}


// Cart actions
// -----------------------------------------------------------------------------

.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-hide,
.gift-certificate-add,
.gift-certificate-cancel {
    color: stencilColor("color-textSecondary");
    padding: 0;
    text-decoration: underline;
    transition: color 0.15s ease;

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }
}

.coupon-code-cancel,
.shipping-estimate-hide {
    font-style: italic;
}

.coupon-form,
.cart-gift-certificate-form {
    @include clearfix;
    font-size: 0;
    margin-bottom: spacing("base");

    .form-input,
    .button {
        float: left;
    }

    .form-input {
        width: 78%;
    }

    .button {
        margin: 0 0 0 2%;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 20%;
    }
}

.estimator-form {
    margin-bottom: 0;

    .form-input {
        margin-bottom: spacing("half");
        width: 100%;
    }
}

.estimator-form-label {
    clear: both;
    float: left;
    font-weight: fontWeight("normal");
    margin-bottom: 0;

    .form-label {
        line-height: remCalc(32px);
        margin-bottom: 0;
    }
}

.estimator-form-label-text {
    margin-left: remCalc(10px);
}

.estimator-form-input {
    font-family: "Plaids";
    float: left;
    margin-bottom: 0.5em;
    width: 200px;
    clear: both;

    .form-input,
    .form-select {
        margin-bottom: 0;
    }
}

.estimator-form-input--price {
    width: 30%;
}

.estimator-form-row {
    @include clearfix;
}

.estimator-form-toggleUPSRate {
    display: block;
    margin-bottom: 1em;
}

.cart-actions {
    @include clearfix;
    clear: both;

    .button {
        display: block;
        margin-bottom: 0;

        @include breakpoint(432px) {
            display: inline-block;
            float: right;
        }
    }

    .checkoutMultiple {
        clear: right;
        display: block;
        float: right;
        padding-top: spacing("quarter");
    }
}

.cart-additionalCheckoutButtons { // 1
    @include clearfix;

    // scss-lint:disable SelectorFormat
    .FloatRight {
        @include clearfix;

        // scss-lint:disable SelectorDepth, NestingDepth
        p {
            // scss-lint:disable ImportantRule
            float: none !important;
            margin: spacing("third") 0;
            text-align: right;
        }

        div {
            float: right;
        }
    }

    .CheckoutButton {
        margin-bottom: spacing("base");

        &:first-child {
            margin-top: spacing("single");
        }

        &:last-child {
            margin-bottom: spacing("single");
        }
    }
}


// Cart Preview
// -----------------------------------------------------------------------------
//
// 1. Need to vertically align a block of text
//
// -----------------------------------------------------------------------------

.previewCartList {
    @include u-listReset;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.previewCartItem {
    @include grid-row;
    display: table-row;
    line-height: lineHeight("smaller");

    + .previewCartItem {
        border-top: container("border");
    }
}

.previewCartItem-image,
.previewCartItem-content {
    display: table-cell; // 1
    vertical-align: middle;
}

.previewCartItem-image {
    @include grid-column(4, $float: false);
    padding: 0;
    text-align: center;
    position: relative;

    img {
        @include lazy-loaded-img;
    }

    @include lazy-loaded-padding('productthumb_size');
}

.previewCartItem-content {
    @include grid-column(8, $float: false);
    padding-left: 0;
}

.previewCartItem-name {
    margin: 0;
    text-transform: none;

    > a {
        text-decoration: none;
    }
}

.previewCartItem-brand,
.previewCartItem-name {
    margin-bottom: spacing("eighth");
}

.previewCartItem-brand,
.previewCartItem-price {
    color: $small-font-color;
    display: inline-block;
    font-size: fontSize("small");
}

.previewCartAction {
    @include grid-row;
    border-top: container("border");
    display: block;
    padding: spacing("single") spacing("half");

    .button {
        margin: 0;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 100%;
    }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {
    @include grid-column(6);

    &.previewCartAction-viewCart--sole {
        @include grid-column($columns: 6, $center: true);
    }
}

.previewCartAction-checkout {
    padding-right: spacing("quarter");
}

.previewCartAction-checkoutMultiple {
    clear: both;
    padding-left: spacing("half");
    padding-top: spacing("quarter");
}

.previewCartAction-viewCart {
    padding-left: spacing("quarter");
}

.previewCart-emptyBody {
    padding: spacing("double");
    text-align: center;
}
