// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin: 0 spacing("single") spacing("quarter");

    a {
        text-decoration: none;
    }

    @include breakpoint("small") {
        font-size: 1.75em;
    }

    @include breakpoint("medium") {
        font-size: 2.25em;
    }
}

.blog-posted-by {
    font-family: "Plaids";
}

.author-name {
    text-transform: uppercase;
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    font-size: 0.75em;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-family: "MS-PMincho";
    font-size: 1.2em;
    padding: 1em;
    line-height: 1.2em;

    @include breakpoint("small") {
        font-size: 1.4em;
    }
}

.blog-thumbnail {
    margin: 0 auto (spacing("base") * 2);
    position: relative;
    max-width: get_width(stencilString('blog_size'));

    img {
        @include lazy-loaded-img;
    }

    @include lazy-loaded-padding('blog_size');
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    width: 100%;

    @include breakpoint("small") {
        width: grid-calc(12, $total-columns);
    }

    @include breakpoint("medium") {
        max-width: 850px;
    }
}
