@import "./../../globals";

// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    padding: spacing("half") spacing("half") spacing("single");
    color: stencilColor("color-textSecondary");

    @include breakpoint("small") {
        padding: (spacing("single") + spacing("quarter"));
    }
    @include breakpoint("medium") {
        padding: (spacing("single") + spacing("half") + spacing("quarter"));
    }
    @include breakpoint("large") {
        padding: spacing("double");
    }
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-logo-medium {
    text-align: center;
    margin-bottom: 3em;
    display: block;
    img {
        width: 80px;
    }

    @include breakpoint(700px) {
        display: none;
    }
}

.footer-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include breakpoint(700px) {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 2fr 1fr 2fr;
        align-items: initial;
    }
    @include breakpoint(925px) {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-links {
    font-family: MS-PMincho;
    font-size: 1.26rem; // 2
    line-height: 1.6rem;
    width: 277px;
    text-align: left;
    vertical-align: top;
    > :not(:last-child) {
        padding-right: 4.4em;
    }

    @include breakpoint(700px) {
        font-size: 1.1rem;
        line-height: 1.37rem;
        width: auto;
        margin: 0;
        float: right;
        justify-self: start;
        > :not(:last-child) {
            padding-right: 2em;
        }
    }
    @include breakpoint(925px) {
        font-size: 1.25rem;
        line-height: 1.72rem;
    }
    @include breakpoint(1190px) {
        font-size: 1.33rem;
        line-height: 1.95rem;
    }
}

.footer-info-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0em;
    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;
        // scss-lint:disable NestingDepth
        &:hover {
          color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }

    @include breakpoint("small") {
        li {
            margin-bottom: 0.2rem;
        }
    }
    @include breakpoint(925px) {
        li {
            margin-bottom: 0.2rem;
        }
    }
    @include breakpoint(1190px) {
        li {
            margin-bottom: 0;
        }
    }
}

.footer-logo {
    text-align: center;
    display: none;
    img {
        width: 65px;
        @include breakpoint(925px) {
            width: 85px;
        }
    }
    @include breakpoint(700px) {
        display: block;
    }
}

.footer-right {
    @include breakpoint(700px) {
        justify-self: end;
    }
}

.footer-right-content {
    font-size: 1.1rem;
    width: 277px;

    .form-field {
        margin-bottom: 0;
    }
    input {
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
    }
    #nl_label {
        margin-right: 0.15em;
        letter-spacing: 0.05em;
    }
    #mce-EMAIL {
        border-bottom: 1px solid $green;
        border-radius: 0;
        width: 94px;
        height: 20px;
        padding: 0 0.4em;
        @include breakpoint(700px) {
            width: 74px;
            height: 15px;
        }
        @include breakpoint(925px) {
            width: 94px;
            height: 20px;
        }
    }
    .response {
        text-transform: none;
        color: #F39838;
        a {
            color: #F39838;
        }
    }
    .form-prefixPostfix, #mce-responses, .response {
        margin-bottom: 0.5em;
    }
    .form-prefixPostfix-button--postfix {
        text-transform: uppercase;
        margin-left: 0.2em;
        letter-spacing: 0.05em;
    }

    @include breakpoint(700px) {
        float: right;
        width: auto;
        font-size: 0.9rem;
        article {
            padding: 0;
        }
    }
    @include breakpoint(925px) {
        font-size: 1.1rem;
    }
    @include breakpoint(1190px) {
        font-size: 1.15rem;
    }
}

address {
    font-style: normal;
    margin-bottom: 2em;
    letter-spacing: 0.05em;
}

.footer-copyright {
    text-align: center;
    width: 100%;
    margin-top: 1em;

    @include breakpoint(700px) {
        text-align: right;
    }
}
