@import "./../../globals";

// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    padding: spacing("half") spacing("half") spacing("single");
    color: stencilColor("color-textSecondary");
    @include breakpoint("small") {
        padding: (spacing("single") + spacing("quarter"));
    }
    @include breakpoint("medium") {
        padding: (spacing("single") + spacing("half") + spacing("quarter"));
    }
    @include breakpoint("large") {
        padding: spacing("double");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------


.footer-info {
    @include breakpoint(700px) {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 2fr 1fr 2fr;
    }
    @include breakpoint(925px) {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-info-list {
  list-style: none;
  margin-left: 0;
  text-align: left;

  a {
    color: stencilColor("color-textSecondary");
    text-decoration: none;

    // scss-lint:disable NestingDepth
    &:hover {
      color: stencilColor("color-textSecondary--hover");
    }
    // scss-lint:enable NestingDepth
  }

  @include breakpoint(700px) {
    text-align: left;
  }
}

.footer-links {
    font-family: MS-PMincho;
    font-size: 1.25rem; // 2
    width: 280px;
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: left;
    vertical-align: top;
    > :not(:last-child) {
        padding-right: 4.4em;
    }

    @include breakpoint(700px) {
        font-size: 1.1rem;
        width: auto;
        margin: 0;
        float: right;
        justify-self: start;
        > :not(:last-child) {
            padding-right: 2em;
        }
    }

    @include breakpoint(925px) {
        font-size: 1.2rem;
    }

    @include breakpoint(994px) {
        font-size: 1.4rem;
    }
}

.footer-logo {
    text-align: center;
    margin-bottom: 3.8em;
    display: none;
    img {
        width: 60px;

        @include breakpoint(925px) {
            width: 80px;
        }
    }

    @include breakpoint(700px) {
        display: block;
    }
}

.footer-logo-medium {
    text-align: center;
    margin-bottom: 3em;
    display: block;
    img {
        width: 80px;
    }

    @include breakpoint(700px) {
        display: none;
    }
}

.footer-right {
    @include breakpoint(700px) {
        justify-self: end;
    }
}

.footer-right-content {
    font-size: 1.1rem;
    width: 280px;
    margin: 0 auto;

    article {
        //padding: 0 0.64em;
    }
    input {
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
    }
    #nl_label {
        margin-right: 0.2em;
        letter-spacing: 0.05em;
    }
    #mce-EMAIL {
        border-bottom: 1px solid $green;
        border-radius: 0;
        width: 94px;
        height: 20px;
        padding: 0 0.4em;
    }
    .response {
        text-transform: none;
        color: #F39838;
        a {
            color: #F39838;
        }
    }
    .form-prefixPostfix, #mce-responses, .response {
        margin-bottom: 0.5em;
    }
    .form-prefixPostfix-button--postfix {
        text-transform: uppercase;
        margin-left: 0.2em;
        letter-spacing: 0.05em;
    }

    @include breakpoint(700px) {
        float: right;
        width: auto;
        font-size: 0.9rem;
        article {
            padding: 0;
        }
    }
    @include breakpoint(925px) {
        font-size: 1.1rem;
    }
    @include breakpoint(994px) {
        font-size: 1.17rem;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

address {
    font-style: normal;
    margin-bottom: 2em;
    letter-spacing: 0.05em;
}

.footer-copyright {
    text-align: center;
    width: 100%;

    @include breakpoint(700px) {
        text-align: right;
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}
