<article class="card">
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        <a href="{{url}}">
            <div class="card-img-container">
                {{#if new}}
                    <p class="new-label">NEW</p>
                {{/if}}
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading-apples.gif'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}"">
            </div>
        </a>
        <figcaption class="card-figcaption">
            <h5 class="overlay-text">{{name}}</h5>
            <div class="overlay-bottom">
                <h5 class="overlay-text">{{> components/products/price price=price}}</h5>
                <div class="card-figcaption-body">
                    {{#if theme_settings.show_product_quick_view}}
                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                    {{/if}}
                </div>
            </div>
        </figcaption>
    </figure>
</article>
